@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&family=Press+Start+2P&family=Roboto&display=swap');

#matter,div{
    width: 360px;
    height: 350px; 
}
#matter{
    z-index: 2;
    background-color: white;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 800px;
    height: 550px;
    padding: 40px;
    border-radius: 4%;
}
#points, li{
    text-decoration: none;
    list-style-type: none;
    text-align: left;
}
#points, li:before{
    content: url(assets/images/icon-list.svg);
    position: relative;
    top: 4px;
    margin-right: 10px;
}
*{
    font-family: "Roboto";
}
body{
    background-color:hsl(235, 18%, 26%);
}
img{
    position: absolute;
     top: 20px;
     right: 20px;
}
body{
    height: 1000px;
}
h1{
    font-size: 53px;
}
h5{
    color: rgb(36, 36, 36);
    margin-top: 25px;
    margin-bottom: 2px;
}
p, li{
    font-size: 16px
}
input[type=text]{
   position: absolute;
   width: 40%;
   height: 45px;
   border-radius: 5px;
   padding-left: 1rem;
   font-size: 14px;
}
#subbtn{
    position: relative;
    top: 70px;
    height: 50px;
    width: 375px;
    border-radius: 5px;
    background-color: hsl(234, 29%, 20%);
    color: white;
    transition: 0.3s;
    border: none;
}
#subbtn:hover{
    border: none;
    box-shadow: 4px 4px 10px hsl(4, 100%, 67%);
    background-color: hsl(4, 100%, 67%);
}
#subbtn:active{
    background-color: hsl(4, 100%, 35%);
    box-shadow: 4px 4px 10px hsl(4, 100%, 35%);
}
#subbtn{
    position: relative;
     bottom: 200px;
}
#success{
    z-index: 1;
    opacity: 1;
    position: absolute;
     top: 35%;
     left: 30%;
    width: 360px;
    height: 360px;
    background-color: white;
    position: absolute;
     bottom: 1px;
    box-shadow: 2px 2px 12px black;
    padding: 50px;
    border-radius: 4%;
}
#sucbtn{
    position: absolute;
     top: 30px;
     left: 0%;
    height: 50px;
    width: 350px;
    border-radius: 5px;
    background-color: hsl(234, 29%, 20%);
    color: white;
    transition: 0.3s;
    border: none;
}
#sucbtn:hover{
    box-shadow: 4px 4px 10px hsl(4, 100%, 67%);
    background-color: hsl(4, 100%, 67%);
}
#sucbtn{
    position: relative;
     bottom: 200px;
}
#sucbtn:active{
    background-color: hsl(4, 100%, 35%);
    box-shadow: 4px 4px 10px hsl(4, 100%, 35%);
}